<% @products.each do |product|  %>
  <h3><%= product.name %></h3>
  <h5>This costs <%= product.price %> ducks</h5>
  <h5><%= product.description %></h5>
  <%= link_to 'Check out this product', product_path(product) %>
<% end %>

<i class="fas fa-shopping-cart"></i>
